@using CourseMessengerWeb.Components
@model CourseMessengerWeb.Models.NewsTips

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NewsTips</h4>
    <hr />
    <dl class="dl-horizontal">
  

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReminderType)
        </dt>

        <dd>
            @StatusCodes.ReminderTypes.All.FirstOrDefault(c => c.Key == Model.ReminderType).Value
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @StatusCodes.ReminderStatusCodes.All.FirstOrDefault(c => c.Key == Model.Status).Value
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
