@model IEnumerable<CourseMessengerWeb.Models.Subscription>

@{
    ViewBag.Title = "All Subscriptions";
}

<h2>All Subscriptions</h2>

<p>
    @Html.ActionLink("Subscribe a Student", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IndexNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubscriptionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubscriptionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnsubscribeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IndexNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubscriptionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubscriptionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnsubscribeDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
