@using CourseMessengerWeb.Components
@model CourseMessengerWeb.Models.ReminderMessage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReminderMessage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReminderType)
        </dt>

        <dd>
            @(StatusCodes.ReminderTypes.All.FirstOrDefault(k => k.Key == Model.ReminderType).Value)
        </dd>

    </dl>
</div>
<p>
    <a role="button" href="@Url.Action("edit")" class="btn btn-info"> <span class="glyphicon glyphicon-pencil"></span> Edit</a> or
    <a role="button" href="@Url.Action("Index")" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span>  Back </a>
</p>
